
*{
     margin: 0;
     padding: 0;
     font-family: $fonts;
     font-size: 16px;
     outline: none;
}

main{
     margin: 3% 8% 0% 5%;
     padding: 0.5%;
}


.Body-SailorDay{
     background: rgb(255, 244, 253) 50%;
     header,
     .bar-Search,
     .text-header, .message, 
     .tittle-Suggestion {
          background-image: $gradientDay;
     }

     .hero-gif{
          
          .my-Gifos{
               a{
                    color: #110038;
               }

               a:hover{
                    border: 1px dotted #110038;
                    height: 27px;
               }
               a:active{
                    border: none;
                    font-size: 16px;
                    color: #B4B4B4;
                    letter-spacing: 0;
                    line-height: 18px;
               }
          }

          .btn:hover {
               font-family: $fonts;
               background: #E6BBE2;
               border: 1px solid #110038;
               box-shadow: $boxDay1;
               outline: 1px dotted #110038;
          }

          .btn{
               font-family: $fonts;
               background: #F7C9F3;
               border: 1px solid #110038;
               box-shadow: $boxDay1;
          }

          .container-Buttons{
               font-family: $fonts;

               .menu{
                    font-family: $fonts;
                    background: #E6E6E6;
                    box-shadow: $boxDay2;
                    
                    .sailor-Day {
                         background: #FFF4FD;
                         border: 1px solid #CCA6C9;
                         box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
                    }
               }

          }

     }

     //----Bar Search---//
     .section-Search{

          .container-Search {
               background: #E6E6E6;
               box-shadow: $boxDay2;
               
               .bar-Search{
                    box-shadow: $boxDay2;
               }

               .container-Input{

                    .input-Search{
                         color: #B4B4B4;
                    }

                    .input-Search-active{
                         font-family: $fonts; 
                         font-size: 16px;
                         color: #110038;
                         letter-spacing: 0;
                         line-height: 22px;
                         background: #FFFFFF;      
                         border: 1px solid #979797; 
                         box-shadow: $boxDay2; 
                    }

                    .btn-Search{
					color: #8F8F8F;
                         background: #E6E6E6;
                         border: 1px solid #808080;
                         box-shadow: $boxDay1;
                    }

                    .btn-Search:active{
                         background: #F7C9F3;
                         border: 1px solid #110038;
                         box-shadow: $boxDay1;
                         color: #110038;
                         border: 1.5px dotted #110038;
                    }

                    .btn-search-active{
                         background: #F7C9F3;
                         border: 1px solid #110038;
                         box-shadow: $boxDay1;
                         color: #110038;
                         border: 1.5px dotted #110038;
                    }

               }
          }

          .suggestion-Search{
               background: #E6E6E6;
               box-shadow: $boxDay2;

               .suggestion-Btn{
                    color: #110038;
               }

               button:hover{
                    border: 1px dotted #110038;
               }

               button:active{
                    border: 1px dotted #110038;
               }
 
          }

     }

     .container-Gif, .result-Search{

          .message{
               /* background-image: $gradientDay; */
               box-shadow: 0 1px 0 0 #110038;
          }
             
     }

     .section-Suggestions, .style-Section {
          background: #FFFAFE;
          border: 1px solid #E6BBE2;
          box-shadow: $boxDay2;
     }
     
     .suggestions{
          
          .card-Suggestion{
               border: 1px solid silver;
               background: #f5f5f5;
               box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);

               .tittle-Suggestion{
                   box-shadow: $boxDay2;
                   /* background-image: $gradientDay; */
               }

               .btn-See-More{
                    background: #4180F6;
                    border: 1px solid #4C2F99;
                    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
               }
                    

               .btn-See-More:hover{
                    cursor: pointer;
                    border: 1px solid #110038;
               }
          
          }    
          .gif-Suggestion:hover{
               border: 1px solid #110038;
               box-shadow: $boxDay1;
               outline: 1px dotted #110038;                    
          }               
     } 

     .view-Gifs:hover{
          cursor: pointer;
          border: 1px solid #110038;
          box-shadow: $boxDay1;
          outline: 1px dotted #110038;
          
          .message{
               visibility: visible;
          }
     }
}
