/* Import styles theme sailor day */
.text-header, .bar-Search {
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
}

.text-header p, .bar-Search p {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-family: "Chakra Petch", sans-serif;
}

.logo {
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-gif {
  font-family: "Chakra Petch", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-gif .my-Gifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero-gif .my-Gifos a {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  padding: 3px;
  width: 85px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-gif .container-Buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.hero-gif .container-Buttons .create-Gifos {
  width: 144px;
  height: 36px;
  margin-right: 5%;
}

.hero-gif .container-Buttons .select-Theme {
  width: 144px;
  height: 36px;
}

.hero-gif .container-Buttons .button-Menu {
  width: 36px;
  height: 36px;
}

.hero-gif .container-Buttons .menu {
  width: 165px;
  height: 102px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(96%, 34%);
          transform: translate(96%, 34%);
  list-style: none;
}

.hero-gif .container-Buttons .btnlist {
  width: 150px;
  height: 36px;
}

.hero-gif .container-Buttons .view {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  opacity: 1;
  visibility: visible;
}

.section-Search {
  margin-top: 5%;
  overflow: hidden;
}

.section-Search .btns-result-search {
  margin-top: 1%;
}

.section-Search .btnResultSearch {
  margin-top: 1%;
  margin-left: 5px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  padding: 0.375rem 0.3rem;
}

.section-Search .btnResultSearch:hover {
  cursor: pointer;
}

.section-Search .bar-result-search {
  display: none;
}

.section-Search .bar-result-search p {
  margin-top: 7px;
}

.section-Search .container-Search {
  width: 100%;
  height: 7.5em;
}

.section-Search .container-Search p {
  margin: 0.2% 0 0.2% 0.5%;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-Search .container-Search .container-Input {
  margin: 1.5% 1% 1% 1%;
}

.section-Search .container-Search .container-Input .input-Search {
  width: 80%;
  height: 2.5rem;
  padding-left: 0.5%;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
}

.section-Search .container-Search .container-Input .btn-Search {
  margin-left: 1%;
  height: 36px;
  width: 6rem;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}

.section-Search .container-Search .container-Input .btn-Search:hover {
  cursor: pointer;
}

.section-Search .suggestion-Search {
  visibility: hidden;
  position: absolute;
  width: 86%;
  height: 160px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-Search .suggestion-Search .suggestion-Btn {
  padding-left: 6px;
  width: 86.5%;
  height: 34px;
  margin-left: 1%;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.container-Gif, .result-Search {
  margin-top: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 320px;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container-Gif .view-Gifs, .result-Search .view-Gifs {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container-Gif img, .result-Search img {
  width: 100%;
  height: 100%;
}

.container-Gif .message, .result-Search .message {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  bottom: 0.1px;
  width: 100%;
  font-size: 14px;
  height: auto;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0;
}

.container-Gif .message p, .result-Search .message p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container-Gif div, .result-Search div {
  width: 100%;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container-Gif div.wide, .result-Search div.wide {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.suggestions {
  margin-top: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 320px;
      grid-template-rows: 320px;
  grid-column-gap: 1em;
}

.suggestions .card-Suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 2%;
}

.suggestions .card-Suggestion .tittle-Suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestions .card-Suggestion .tittle-Suggestion p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: bold;
  margin-left: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestions .card-Suggestion .gif-Suggestion {
  width: 100%;
  height: 92%;
}

.suggestions .card-Suggestion .close-Sugges {
  border: none;
  width: 14px;
  height: 16px;
  margin-left: 90%;
  position: absolute;
}

.suggestions .card-Suggestion .close-Sugges img {
  height: 16px;
}

.suggestions .card-Suggestion .close-Sugges:hover {
  cursor: pointer;
}

.suggestions .card-Suggestion .btn-See-More {
  position: absolute;
  margin: 19em 0 0 1em;
  width: 81px;
  height: 34px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.section-Suggestions, .style-Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  margin-top: 3%;
  font-family: "Chakra Petch", sans-serif;
}

.section-Suggestions p, .style-Section p {
  font-family: "Chakra Petch", sans-serif;
  margin-left: 1%;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  color: #110038;
}

/*import styles sailor day */
* {
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  outline: none;
}

main {
  margin: 3% 8% 0% 5%;
  padding: 0.5%;
}

.Body-SailorDay {
  background: #fff4fd 50%;
}

.Body-SailorDay header,
.Body-SailorDay .bar-Search,
.Body-SailorDay .text-header, .Body-SailorDay .message,
.Body-SailorDay .tittle-Suggestion {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.Body-SailorDay .hero-gif .my-Gifos a {
  color: #110038;
}

.Body-SailorDay .hero-gif .my-Gifos a:hover {
  border: 1px dotted #110038;
  height: 27px;
}

.Body-SailorDay .hero-gif .my-Gifos a:active {
  border: none;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 18px;
}

.Body-SailorDay .hero-gif .btn:hover {
  font-family: "Chakra Petch", sans-serif;
  background: #E6BBE2;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
}

.Body-SailorDay .hero-gif .btn {
  font-family: "Chakra Petch", sans-serif;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.Body-SailorDay .hero-gif .container-Buttons {
  font-family: "Chakra Petch", sans-serif;
}

.Body-SailorDay .hero-gif .container-Buttons .menu {
  font-family: "Chakra Petch", sans-serif;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorDay .hero-gif .container-Buttons .menu .sailor-Day {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.Body-SailorDay .section-Search .container-Search {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorDay .section-Search .container-Search .bar-Search {
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorDay .section-Search .container-Search .container-Input .input-Search {
  color: #B4B4B4;
}

.Body-SailorDay .section-Search .container-Search .container-Input .input-Search-active {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorDay .section-Search .container-Search .container-Input .btn-Search {
  color: #8F8F8F;
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.Body-SailorDay .section-Search .container-Search .container-Input .btn-Search:active {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
  border: 1.5px dotted #110038;
}

.Body-SailorDay .section-Search .container-Search .container-Input .btn-search-active {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
  border: 1.5px dotted #110038;
}

.Body-SailorDay .section-Search .suggestion-Search {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorDay .section-Search .suggestion-Search .suggestion-Btn {
  color: #110038;
}

.Body-SailorDay .section-Search .suggestion-Search button:hover {
  border: 1px dotted #110038;
}

.Body-SailorDay .section-Search .suggestion-Search button:active {
  border: 1px dotted #110038;
}

.Body-SailorDay .container-Gif .message, .Body-SailorDay .result-Search .message {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.Body-SailorDay .section-Suggestions, .Body-SailorDay .style-Section {
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorDay .suggestions .card-Suggestion {
  border: 1px solid silver;
  background: #f5f5f5;
  -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
}

.Body-SailorDay .suggestions .card-Suggestion .tittle-Suggestion {
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.Body-SailorDay .suggestions .card-Suggestion .btn-See-More {
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorDay .suggestions .card-Suggestion .btn-See-More:hover {
  cursor: pointer;
  border: 1px solid #110038;
}

.Body-SailorDay .suggestions .gif-Suggestion:hover {
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
}

.Body-SailorDay .view-Gifs:hover {
  cursor: pointer;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
}

.Body-SailorDay .view-Gifs:hover .message {
  visibility: visible;
}

/* Import styles theme sailor Nigth */
.Body-SailorNight {
  background: #110038 100%;
}

.Body-SailorNight header,
.Body-SailorNight .bar-Search,
.Body-SailorNight .text-header,
.Body-SailorNight .message,
.Body-SailorNight .tittle-Suggestion {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.Body-SailorNight .my-Gifos {
  text-decoration: none;
}

.Body-SailorNight .my-Gifos a {
  color: #FFFFFF;
}

.Body-SailorNight .my-Gifos a:hover {
  border: 1px solid #FFFFFF;
  height: 27px;
}

.Body-SailorNight .my-Gifos a:active {
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
}

.Body-SailorNight .btn:hover {
  font-family: "Chakra Petch", sans-serif;
  background: #CE36DB 100%;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  border: 1.5px dotted #110038;
}

.Body-SailorNight .btn {
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  font-family: "Chakra Petch", sans-serif;
  background: #A72CB3 100%;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.Body-SailorNight .container-Buttons {
  font-family: "Chakra Petch", sans-serif;
}

.Body-SailorNight .container-Buttons .menu {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorNight .container-Buttons .menu button {
  background: #CCCCCC;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.Body-SailorNight .container-Buttons .menu .sailor-Night {
  background: #2E32FB;
  border: 1px solid rgba(51, 53, 143, 0.2);
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.Body-SailorNight .section-Search .container-Search {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorNight .section-Search .container-Search .bar-Search {
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorNight .section-Search .container-Search .container-Input .input-Search {
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #f52a2a;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #f52a2a;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 22px;
}

.Body-SailorNight .section-Search .container-Search .container-Input .input-Search-active {
  color: #110038;
}

.Body-SailorNight .section-Search .container-Search .container-Input .btn-Search {
  background: #B4B4B4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #8F8F8F;
  letter-spacing: 0;
  line-height: 18px;
}

.Body-SailorNight .section-Search .container-Search .container-Input .btn-Search:active {
  background: #CE36DB;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
  border: 1.5px dotted #110038;
}

.Body-SailorNight .section-Search .container-Search .container-Input .btn-search-active {
  background: #CE36DB;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.Body-SailorNight .section-Search .suggestion-Search {
  background: #CCCCCC;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.Body-SailorNight .section-Search .suggestion-Search .suggestion-Btn {
  color: #110038;
}

.Body-SailorNight .section-Search .suggestion-Search button:hover {
  border: 1px dotted #110038;
}

.Body-SailorNight .section-Search .suggestion-Search button:active {
  border: 1px dotted #110038;
}

.Body-SailorNight .container-Gif .message, .Body-SailorNight .result-Search .message {
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.Body-SailorNight .section-Suggestions, .Body-SailorNight .style-Section {
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorNight .suggestions .card-Suggestion {
  background: #B4B4B4;
  /* box-shadow: $boxNigth5; */
}

.Body-SailorNight .suggestions .tittle-Suggestion {
  -webkit-box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorNight .suggestions .btn-See-More {
  background: #2E32FB;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

.Body-SailorNight .suggestions .btn-See-More:hover {
  background: #2629CC;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
  cursor: pointer;
}

.Body-SailorNight .gif-Suggestion:hover {
  /* border: 1px solid #110038; */
  -webkit-box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
  outline: 1px dotted #FFFFFF;
  border: 1px dotted #110038;
}

.Body-SailorNight .view-Gifs:hover {
  cursor: pointer;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
  outline: 1px dotted #FFFFFF;
}

.Body-SailorNight .view-Gifs:hover .message {
  visibility: visible;
}
/*# sourceMappingURL=index.css.map */