*{
     margin: 0;
     padding: 0;
     font-family: $fonts;
     font-size: 16px;
     outline: none;
}

main{
     margin: 3% 8% 0% 5%;
     padding: 0.5%;
}


.Body-SailorDay{
     background: rgb(255, 244, 253) 50%;
     header, 
     .tittle-Suggestion {
          background-image: $gradientDay;
     }

     .tittle-Create-Gif{
          background-image: $gradientDay;
     }

     .cancel {
          background: #fff4fd;
          border: 1px solid #110038;
          box-shadow: $boxDay1;
     }
     
     .confirm {
          background: #f7c9f3;
          border: 1px solid #110038;
          box-shadow: $boxDay1;
          margin-bottom: 12px;
     }

     .cancel:hover {
          background: rgb(236, 222, 233);
          border: 1px solid #110038;
          box-shadow: $boxNigth1;
          outline: 1px dotted #110038;
     }
     
     .confirm:hover {
          background: rgb(223, 181, 219);
          border: 1px solid #110038;
          box-shadow: $boxNigth1;
          outline: 1px dotted #110038;
     }


     .tittle-My-Gifos{
          border: 1px solid #e6bbe2;
          box-shadow:$boxDay3; 
     }
}