.Body-SailorNight{
     background: rgb(17, 0, 56) 100%;
     header,
     .bar-Search,
     .text-header,
     .message,
     .tittle-Suggestion {
     background-image: $gradientNigth;
     }

     .tittle-Create-Gif{
          background-image: $gradientNigth;
     }
     
     .cancel {
          background: #110038;
          border: 1px solid #b4b4b4;
          box-shadow: $boxNigth1;
          color:#FFFFFF ;
     }
          
     .confirm {
          
          background: #CE36DB 100%;
          border: 1px solid #110038;
          box-shadow: $boxNigth1;
          margin-bottom: 12px;
          color: #FFFFFF;
     }

     .confirm:hover {
          background: #A72CB3 100%;
          border: 1px solid #110038;
          box-shadow: $boxNigth1;
          outline: 1px dotted #110038;
     }

     .cancel:hover{
          border: 1px solid #110038;
          box-shadow: $boxNigth1;
          outline: 1px dotted #110038;
     }

     .tittle-My-Gifos{
          border: 1px solid #2e32fb;
          box-shadow: $boxNigth7;
     }
     
     .btn-Camera{
          content: url(../../../img/camera_light.svg);
     }

     .style-Section p,#my-Gifos{
          color: #FFFFFF; 
     }
}