$fonts :'Chakra Petch', sans-serif;
$gradientDay: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$gradientNigth: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$boxDay1: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$boxDay2: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
$boxNigth1:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
$boxNigth2:inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
$boxNigth3:inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
$boxNigth4:inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
$boxNigth5:inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
$boxNigth6:inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
$colorGrayNigth:#B4B4B4;
